@use "../../foundation/variable";

.flow {
    margin-bottom: 56px;
}

.c-head-middle {
    margin-bottom: 56px;
}

.p-top-flow-diagram {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-top-flow-diagram-row {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-top-flow-diagram-row-bottom {
    margin-bottom: 0;
}

.p-top-flow-diagram-row__circle {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    background-color: variable.$red;
    margin: 0 50px;
}

.p-top-flow-diagram-row__circle-before {
    content: '';
    height: 160px;
    width: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: variable.$red;
}

.p-top-flow-diagram-row__circle-bottom-before {
    content: '';
    height: 61px;
    width: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: variable.$red;
}

.p-top-flow-diagram-row__circle-bottom-after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -40px;
    border: 3px solid;
    border-color: transparent transparent variable.$red variable.$red;
    transform: rotate(-45deg);
}

.p-top-flow-diagram-row__head {
    width: 192px;
    font-size: 2.2rem;
    font-weight: bold;
    color: variable.$red;
}

.p-top-flow-diagram-row__text {
    width: 567px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.content-area--flow {
    padding-top: 48px;
    padding-bottom: 66px;
}

@media screen and (max-width: 767px) {
    .c-head-middle {
        margin-bottom: 40px;
    }

    .p-top-flow-diagram {
        margin-bottom: 43px;
    }

    .p-top-flow-diagram-row {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .p-top-flow-diagram-row__circle {
        margin: 0 20px 0 8px;
    }

    .p-top-flow-diagram-row__circle-before {
        height: 220px;
    }

    .p-top-flow-diagram-row__circle-bottom-before {
        height: 145px;
    }

    .p-top-flow-diagram-row__circle-bottom-after {
        bottom: -126px;
    }

    .p-top-flow-diagram-row__head {
        margin-bottom: 14px;
    }

    .p-top-flow-diagram-row__text {
        width: 100%;
        margin-left: 48px;
        font-size: 1.6rem;
        line-height: 1.8;
    }

    .content-area--flow {
        padding-top: 43px;
        padding-bottom: 38px;
    }
}
